<h2>Show all Restaurants</h2>
<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>
<ol class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ol>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content, placeholder: "Give Review : " %>
  <%= f.input :rating, placeholder: "Add a rating (1-5)" %>
  <%= f.submit "Add Review", class: "btn btn-primary" %>
<% end %>

<%= link_to "Index", restaurants_path, class: "btn btn-primary"%>

<%# <%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
